body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(135deg, #ffecd2, #fcb69f);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-size: 20px;
}

.card-container {
    perspective: 1000px;
    width: 350px;
    height: 500px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    cursor: pointer;
    border-radius: 25px;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
}

.card-front {
    background: white;
    z-index: 2;
}

.card-back {
    background: linear-gradient(135deg, #FBD786, #f7797d);
    transform: rotateY(180deg);
    z-index: 1;
    text-align: center;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    z-index: 1;
    text-align: center;
    white-space: nowrap;
}

.card-back h1 {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #ff0000, #ffcc00, #f2ff80, #00ff00, #088cff, #2882ff, #aa00ff);
    background-size: 300% 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 6s ease infinite;
    text-align: center;
}

.card-back p {
    font-family: 'Open Sans', sans-serif;
    color: #555;
    font-style: italic;
}

.card-back p span {
    font-weight: bold;
    color: #ff0000;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 768px) {
    .card-container {
        width: 300px;
        height: 450px;
    }
    .card h1 {
        font-size: 24px;
        margin-top: 30px;
    }
    .card p {
        font-size: 16px;
        margin: 15px;
    }
}

@media (max-width: 480px) {
    .card-container {
        width: 250px;
        height: 400px;
    }
    .card h1 {
        font-size: 20px;
        margin-top: 20px;
    }
    .card p {
        font-size: 14px;
        margin: 10px;
    }
}